* {
  font-family: 'Quicksand', sans-serif;
  color: #222;
}

body {
  width: 240px;
  margin: 0;
}

h1 {
  margin: 0;
  text-align: center;
}

.header-wrap {
  line-height: 60px;
  position: relative;
  text-align: center;
  /*background-color: #9bffa2;*/
  background-color: #E0FBDF;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 12px;
}

.logo-heading {
  position: absolute;
  left: 10px;
  top: 17px;
  height: 34px;
}

.content-wrap {
  padding: 10px;
}

.option-item {
  margin-bottom: 24px;
}

.instruction-item {
  margin-bottom: 18px;
  display: flex;
}

.instruction-decoration {
  margin: 0 2px;
}

.instruction-content {
  margin-left: 6px;
}

.option-item-label {
  font-size: 14px;
}

.instruction-item-label {
  font-size: 14px;
}

.option-item-label--hint {
  margin: 0;
  margin-top: 6px;
  padding-left: 22px;
  opacity: 0.8;
}

.instruction-item-label--hint {
  margin: 0;
  margin-top: 6px;
  opacity: 0.8;
}

.button-clear {
  border: 1px solid #a1a1a1;
  border-radius: 3px;
  background: white;
  position: relative;
  height: 22px;
  padding-left: 22px;
}

.button-clear:hover {
  background: -webkit-linear-gradient(rgba(255,255,255,1) 0%, rgba(255,255,255,1) 66%, rgba(255,235,235,1) 100%);
  background: -o-linear-gradient(rgba(255,255,255,1) 0%, rgba(255,255,255,1) 66%, rgba(255,235,235,1) 100%);
  background: linear-gradient(rgba(255,255,255,1) 0%, rgba(255,255,255,1) 66%, rgba(255,235,235,1) 100%);
  border-color: #ff4545;
  cursor: pointer;
}

.button-clear img {
  position: absolute;
  left: 4px;
  height: 12px;
}

